<div>
  <h2>login</h2>
  <form action="/auth/login" method="POST">
    <div>
      <label>Username
        <input type="text" name="username" placeholder="ironhacker" />
      </label>
    </div>
    <div>
      <label>
        Password
        <input type="password" name="password" placeholder="********" />
      </label>
    </div>
    <br />
    <div><button class="submitbuttons" type="submit">Log In</button></div>
  </form>
  <div class="validationErrors">
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </div>
</div>