<div class="tools">
  <div class="tools-leftbox">
    <div class="tools-order">
      <div>submissions</div>
      <div>accepted</div>
      <div>userlist</div>
    </div>
    <div class="tools-gamelistbox">
      <div class="tools-gamelist">
        games
      </div>
    </div>
  </div>
  <div class="tools-rightbox">
    <div>game info</div>
  </div>
</div>