nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #30363d;
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.Nav-link-buttons {
}

.link-buttons {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #30363d;
  color: #30363d;
  background: 0 0;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  margin: 5px;
}
.link-buttons:hover {
  background-color: #30363d;
  color: #fff;
}
.link-buttons:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

.logout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
.validationErrors {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: red;
}
.submitbuttons {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.submitbuttons:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  height: 95%;
}
/*  */
.tools-leftbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 80%;
  background-color: blue;
  border-radius: 2%;
}

.tools-rightbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  height: 80%;
  background-color: aqua;
  border-radius: 2%;
}

.tools-gamelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 95%;

  overflow-y: scroll;
}

.tools-order {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.tools-order > div {
  background-color: white;
}

.posted-games {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
}

.pending-games {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.listedGame {
  background-color: #00b7ff;
  margin-top: 5%;
  padding-left: 5%;
  border-radius: 5px;
  width: 95%;
}
/*  */

.create-Screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.descriptions {
}

#listofgames {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainlistedGame {
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 10px;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  width: 250px;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.mainlistedGame:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
/* .mainlistedGame:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
} */

.mainCardLinkLine {
  display: flex;
  flex-direction: row;
}

.editdeletebtn {
  display: flex;
}

.gameImg {
  width: 270px;
  height: 140px;
  margin: -10px;
  border-radius: 6px 6px 0px 0px;
}
.imgDiv {
  width: 270px;
  height: 140px;
}
.imgdetails {
  width: 250px;
  height: 130px;
}
.rating {
  display: inline-block;
  outline: 0;
  border-radius: 6px;
  border: 2px solid #8b949e;
  color: #8b949e;
  background: 0 0;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  margin: 5px;
}
